*{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-image: url("istockphoto-911294484-612x612.jpg");

    /* background-color: rgba(202, 66, 66, 0.692); */
    min-width: 100vw;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
nav{
    background-color: rgba(0, 0, 0, 0.365);
    height: 60px;
    min-width: 100vw;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 9;
    /* filter: blur(10px); */
}
.logo  {
    position: absolute;
    left: 0%;
    margin: 15px;
    width: 60px;
    height: 50px;
    background-image: url("png-transparent-mobile-phones-addiction-smartphone-nomophobia-social-media-smartphone-angle-electronics-telephone-call.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.otherMenu{
    position: absolute;
    right: 0px;
    margin: 5px;
    min-width: 30vw;
    display: flex;
    justify-content: space-around;
    
}
.menu{
    margin-right: 10px;
    }
    .menu a{
        text-decoration: none;
        color: white;
        font-weight: 700;
        font-size: 20px;
        
    }
.landing{
    padding-top: 70px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    display: flex;
    min-height: 90vh;
    width: 100%;
    flex-wrap: wrap;
}
.front-content{
    min-width: 300px;
    width: 40vw;
    height: 50vh;
    text-shadow: 1px 1px rgb(0, 0, 0);
    font-size: 5rem;
    font-weight: 900;
    margin: 70px;
}
.front-content p{
    font-family: cursive;
    color: red;
    display: inline;
}
.form{
    height: 350px;
    width: 400px;
    min-width: 300px;
    background-color: black;
    margin: auto ;
    border-radius: 40px;
    box-shadow: 0px 0px 10px 1px white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.form img{
    border-radius: 40px;
    display: flex;
    align-self: center;
    margin: auto;
}
.registration{
    margin-top: 10px;
    margin-bottom: 20px;
    color: antiquewhite;
    font-size: 3rem;
    text-shadow: 4px 4px 3px rgb(0, 98, 255);
}
.reg-ip{
    height: 55px;
    width: 80%;
    margin: auto;
}
input{
    height: 40px;
    width: 100%;
    border-radius: 5px;
    padding-left: 10px;
    border: none;
    font-size: 20px;
}
input:focus{
    outline: none;
    box-shadow: 0px 0px 10px 1px white;   
}
.AboutUs{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.heading{
    font-size: 4rem;
    font-weight: 900;
    color: rgb(39, 39, 39);
    margin-bottom: 20px;
    margin-top: 10px;
}
.About-content{
    backdrop-filter: blur(6px);
    font-size: 2rem;
    width: 90%;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.subhead{
    color: rgba(0, 0, 0, 0.782);
}
.About-content2{
    backdrop-filter: blur(6px);
    font-size: 2rem;
    width: 90%;
    text-align: justify;
    color: rgb(0, 0, 0);
}
.About-content3{
    backdrop-filter: blur(6px);
    font-size: 2rem;
    width: 90%;
    text-align: justify;
    color: rgba(0, 0, 0, 0.808);
}
.bold{
    color: rgb(0, 0, 0);
}
.offers{
    min-height:100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.coupons{
    height: 90px;
    width: 90px;
    background-color: rgb(107, 107, 107);
    background-image: url("") ;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 50px;
    background-position: center;
    color: white;
    position: relative;
}
.coupons-body{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.c-hover{
    height: 90px;
    width: 90px;
    display: flex;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top:0px;
    z-index: 1;
    backdrop-filter: blur(4px);
    /* padding: 3px; */
}
.coupons:hover .c-hover{
    visibility: visible;
    opacity: 1;
    /* display: block; */
}
.discount{
    margin: auto;
    font-size: 20px;
    text-wrap: wrap;
}
span img {
    min-width: 74vw;
}
.Quotes{
    backdrop-filter: blur(6px);
    font-size: 2rem;
    width: 90%;
    text-align: justify;
    color: rgb(0, 0, 0);
    backdrop-filter: blur(6px);
    font-size: 2rem;
    width: 90%;
    text-align: justify;
}
.aboutr{
    backdrop-filter: blur(6px);
    font-size: 1.25rem;
    width: 90%;
    text-align: justify;
    color: rgb(0, 38, 114);
}
li{
    backdrop-filter: blur(6px);
    font-size: 1.25rem;
    width: 90%;
    text-align: justify;
    color: rgb(83, 117, 186);
}
h2{
    display: inline-block;
}
#downm{
    margin-bottom: 10%;
}
.rhead{
    backdrop-filter: blur(6px);
    font-size: 3rem;
    width: 90%;
    text-align: justify;
    position: sticky;
}
.headr{
    backdrop-filter: blur(6px);
    font-size: 2rem;
}
@media (max-width: 850px) {
    body{
        background-image: url("33617662-hands-of-businessman-addicted-to-mobile-phone-chain-locked-wrists-in-smartphone-internet-addiction.jpg");
        min-width: 100vw;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .aboutus h3{
        color: white;
    }
    .bold{
        color: white;
    }
    .headr{
        color: #fff;
    }
    .aboutr{
        backdrop-filter: blur(6px);
        font-size: 1.25rem;
        width: 90%;
        text-align: justify;
        color: #d2e1ff;
    }
    li{
        backdrop-filter: blur(6px);
        font-size: 1.25rem;
        width: 90%;
        text-align: justify;
        color: rgb(158, 242, 255);
    }
    .rhead{
        color: #fff;
    }
    .front-content{
        min-width: 300px;
        width: 40vw;
        height: 50vh;
        text-shadow: 1px 1px rgb(255, 255, 255);
        font-size: 4rem;
        font-weight: 900;
        margin: 30px;
        color: white;
    }
    span img{
        min-width: 90vw;
        margin: auto;
    }
    .heading{
        /* margin: auto; */
        font-size: 2rem;
        font-weight: 600;
        color: white;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .About-content2{
        backdrop-filter: blur(6px);
        font-size: 1.5rem;
        width: 95%;
        text-align: justify;
        color: white;
    }
    .About-content3{
        backdrop-filter: blur(6px);
        font-size: 1.5rem;
        width: 95%;
        text-align: justify;
        color: white;
    }
    .About-content{
        backdrop-filter: blur(6px);
        font-size: 1.5rem;
        width: 95%;
        text-align: justify;
        color: white;
    }
    
}
